*{
    box-sizing: border-box;
}
@font-face{
    font-family: 'vazir';
    src: url(/fonts/Vazir-Bold.woff);
}
body{
    margin: 0;
    font-family: 'vazir';
}

.main-header{
    width: 100%;
    background-color: orange;
    padding: 8px 16px;
    position: fixed;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__logo{
    color: orangered;
    font-size: 22px;
    text-decoration: none;

}

.main-nav{
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__items{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 16px;
}

.main-nav__items a {
    text-decoration: none;
    color: white;

}
.main-nav__items a:hover,
.main-nav__items a:active {
    color: red;
}

.main-nav__item--account a{
    background: coral;
    color: yellow;
    padding: 6px 12px;
    border-radius: 5px;
}

.main-nav__item--account a:hover,
.main-nav__item--account a:active{
    color: yellow;
    background: red;
}

.main-footer{
    background: gray;
    padding: 32px;
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link{
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a{
    color: #f5f5f5;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active{
    color: black;
}